PORT=8800
HOST=localhost

CERT_RESOLVER=tailscale
TRAEFIK_ENABLE=false

OTEL_EXPORTER_OTLP_ENDPOINT="http://otel-collector:4318"
OTEL_EXPORTER_OTLP_METRICS_ENDPOINT="http://otel-collector:4318/v1/metrics"
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT="http://otel-collector:4318/v1/traces"
OTEL_EXPORTER_OTLP_LOGS_ENDPOINT="http://otel-collector:4318/v1/logs"

EDGE=http://localhost:9800
APP_HOST=0.0.0.0

NODE_ENV=development
GRAPHIQL=true